@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

body {
    max-width: 1024px;
    margin: 3em auto;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #6e6e6e;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.5s; /*Скорость перехода состояния элемента*/
    animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}

header {
    background-color: #3c3c3e;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 1em;
}

header h1 {
    color: #ffffff;
    margin: 0;
}

header h3 {
    color: #898a8e;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    color: #3eb5f1;
}

img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

textarea {
    background: #ffffff;
    resize: none;
    width: 90%;
    height: 500px;
    color: #163889;
}

.title {
    display: inline-block;
    margin: 5em 2em 0 15em;
}

.left {
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 4;
    margin: 1em;
    border-right: 1px solid #b9b8bb;

}
@media (max-width: 414px) {
  body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .title {
    margin: 0;
    padding: 25px;
  }
  header {
    margin: 10px auto;
    border-radius: 10px;
    order: 2;
  }
  .img {
    margin: 10px auto;
    order: 1;
  }
  .left {
    margin: 0 auto;
    border-right: none;
    order: 3;
  }
  .left .wrapper {
    margin: 20px auto;
    padding: 0;
    width: 100%;
  }
  .right {
    order: 4;
  }
  
  h3 {
    text-align: center;
  }
  .code {
    text-align: center;
    margin: 0;
  }
  .contacts__links {
    padding-left: 0;
  }
  .contacts__links li {
    list-style-type: none;
  }
  p {
    text-align: justify;
    padding: 0 10px;
  }
  textarea {
    font-size: 9px;
  }
}

.right {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 8;
    margin: 1em;
}

article {
    margin: 0 0 3em 0;
}

a {
    text-decoration: none;
    color: #3eb5f1;
}

li, p, label {
    line-height: 1.8rem;
    list-style-type: square;
}

progress {
    width: 100px;
    margin: 2px 0 2px 15px;
}


/* sd */
.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .skillbar__headway {
    height: 3px;
    width: 0px;
    background:#3eb5f1;
    border-radius: 20px;
    margin-top: 5px;
    position: relative;
  }
  
  .skillbar__headway::before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3eb5f1;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    transform: translateY(-50%);
  }
  
  .skillbar__headway::after {
    font-size: 13px;
    position: absolute;
    right: -8px;
    color: #3eb5f1;
    top: -25px;
    content: attr(data-count);
    transform: translateY(-50%);
  }
  
  .skillbar__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .skillbar__title {
    color: #6e6e6e;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
  }
  
  
  .wrapper {
    width: 80%;
    max-width: 500px;
    padding: 30px;
  }
  
  .skillbar__content {
    background: #6e6e6e;
  }
  
  .skillbar__RZ1ID {
    width: 85%;
  }
  
  .skillbar__RZ2ID {
    width: 80%;
  }
  
  .skillbar__RZ3ID {
    width: 50%;
  }
  
  .skillbar__RZ4ID {
    width: 80%;
  }
  .skillbar__RZ5ID {
    width: 50%;
  }
  .skillbar__RZ6ID {
    width: 30%;
  }
  .skillbar__RZ7ID {
    width: 40%;
  }
  .skillbar__RZ8ID {
    width: 30%;
  }
  .skillbar__RZ9ID {
    width: 30%;
  }
  .skillbar__RZ10ID {
    width: 65%;
  }
  